<a href="https://colab.research.google.com/github/Sinudeshmukh/Basic-Python/blob/main/Python_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# importing pandas as pd
import pandas as pd

df = pd.read_csv("nba.csv")
df

              Name            Team  ...            College     Salary
0    Avery Bradley  Boston Celtics  ...              Texas  7730337.0
1      Jae Crowder  Boston Celtics  ...          Marquette  6796117.0
2     John Holland  Boston Celtics  ...  Boston University        NaN
3      R.J. Hunter  Boston Celtics  ...      Georgia State  1148640.0
4    Jonas Jerebko  Boston Celtics  ...                NaN  5000000.0
..             ...             ...  ...                ...        ...
453   Shelvin Mack       Utah Jazz  ...             Butler  2433333.0
454      Raul Neto       Utah Jazz  ...                NaN   900000.0
455   Tibor Pleiss       Utah Jazz  ...                NaN  2900000.0
456    Jeff Withey       Utah Jazz  ...             Kansas   947276.0
457            NaN             NaN  ...                NaN        NaN

[458 rows x 9 columns]

In [ ]:
df.sort_values(by=['Weight','Height'],ascending=False)

                 Name  ...      Salary
405    Nikola Pekovic  ...  12100000.0
302  Boban Marjanovic  ...   1200000.0
330      Al Jefferson  ...  13500000.0
395      Jusuf Nurkic  ...   1842000.0
188    Andre Drummond  ...   3272091.0
..                ...  ...         ...
359  Brandon Jennings  ...   8344497.0
350     Briante Weber  ...         NaN
263      Bryce Cotton  ...    700902.0
152      Aaron Brooks  ...   2250000.0
457               NaN  ...         NaN

[458 rows x 9 columns]

In [ ]:
grpbyteam = df.groupby('Team')
grpbyteam.first()  #list

                                         Name  ...      Salary
Team                                           ...
Atlanta Hawks                   Kent Bazemore  ...   2000000.0
Boston Celtics                  Avery Bradley  ...   7730337.0
Brooklyn Nets                Bojan Bogdanovic  ...   3425510.0
Charlotte Hornets               Nicolas Batum  ...  13125306.0
Chicago Bulls                Cameron Bairstow  ...    845059.0
Cleveland Cavaliers       Matthew Dellavedova  ...   1147276.0
Dallas Mavericks              Justin Anderson  ...   1449000.0
Denver Nuggets                 Darrell Arthur  ...   2814000.0
Detroit Pistons                  Joel Anthony  ...   2500000.0
Golden State Warriors         Leandro Barbosa  ...   2500000.0
Houston Rockets                  Trevor Ariza  ...   8193030.0
Indiana Pacers                    Lavoy Allen  ...   4050000.0
Los Angeles Clippers             Cole Aldrich  ...   1100602.0
Los Angeles Lakers               Brandon Bass  ...   3000000.0
Memphis Grizzlies                Jordan Adams  ...   1404600.0
Miami Heat                         Chris Bosh  ...  22192730.0
Milwaukee Bucks         Giannis Antetokounmpo  ...   1953960.0
Minnesota Timberwolves        Nemanja Bjelica  ...   3950001.0
New Orleans Pelicans            Alexis Ajinca  ...   4389607.0
New York Knicks                 Arron Afflalo  ...   8000000.0
Oklahoma City Thunder            Steven Adams  ...   2279040.0
Orlando Magic                  Dewayne Dedmon  ...    947276.0
Philadelphia 76ers                Elton Brand  ...    947276.0
Phoenix Suns                     Eric Bledsoe  ...  13500000.0
Portland Trail Blazers        Cliff Alexander  ...    525093.0
Sacramento Kings                   Quincy Acy  ...    981348.0
San Antonio Spurs           LaMarcus Aldridge  ...  19689000.0
Toronto Raptors               Bismack Biyombo  ...   2814000.0
Utah Jazz                       Trevor Booker  ...   4775000.0
Washington Wizards              Alan Anderson  ...   4000000.0

[30 rows x 8 columns]

In [ ]:
grpbyteam.ngroups  #all grps count

30

In [ ]:
grpbyteam.groups  # all grps records

{'Atlanta Hawks': [309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323], 'Boston Celtics': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], 'Brooklyn Nets': [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29], 'Charlotte Hornets': [324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338], 'Chicago Bulls': [151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165], 'Cleveland Cavaliers': [166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180], 'Dallas Mavericks': [227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241], 'Denver Nuggets': [383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397], 'Detroit Pistons': [181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195], 'Golden State Warriors': [76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90], 'Houston Rockets': [242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256], 'Indiana Pacers': [196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210], 'Los Angeles Clippers': [91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105], 'Los Angeles Lakers': [106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120], 'Memphis Grizzlies': [257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274], 'Miami Heat': [339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353], 'Milwaukee Bucks': [211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226], 'Minnesota Timberwolves': [398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411], 'New Orleans Pelicans': [275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293], 'New York Knicks': [30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45], 'Oklahoma City Thunder': [412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426], 'Orlando Magic': [354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367], 'Philadelphia 76ers': [46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60], 'Phoenix Suns': [121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135], 'Portland Trail Blazers': [427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441], 'Sacramento Kings': [136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150], 'San Antonio Spurs': [294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308], 'Toronto Raptors': [61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75], 'Utah Jazz': [442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456], 'Washington Wizards': [368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382]}

In [ ]:
grpbyteam['Age'].max()

Team
Atlanta Hawks             35.0
Boston Celtics            29.0
Brooklyn Nets             32.0
Charlotte Hornets         31.0
Chicago Bulls             35.0
Cleveland Cavaliers       35.0
Dallas Mavericks          37.0
Denver Nuggets            36.0
Detroit Pistons           36.0
Golden State Warriors     33.0
Houston Rockets           38.0
Indiana Pacers            30.0
Los Angeles Clippers      39.0
Los Angeles Lakers        37.0
Memphis Grizzlies         39.0
Miami Heat                36.0
Milwaukee Bucks           32.0
Minnesota Timberwolves    40.0
New Orleans Pelicans      31.0
New York Knicks           34.0
Oklahoma City Thunder     38.0
Orlando Magic             32.0
Philadelphia 76ers        37.0
Phoenix Suns              33.0
Portland Trail Blazers    34.0
Sacramento Kings          36.0
San Antonio Spurs         40.0
Toronto Raptors           36.0
Utah Jazz                 28.0
Washington Wizards        34.0
Name: Age, dtype: float64

In [ ]:
grpbyteam['Age'].agg(['min','max','count','median','mean'])

                         min   max  count  median       mean
Team
Atlanta Hawks           22.0  35.0     15    27.0  28.200000
Boston Celtics          20.0  29.0     15    25.0  24.733333
Brooklyn Nets           21.0  32.0     15    26.0  25.600000
Charlotte Hornets       21.0  31.0     15    27.0  26.133333
Chicago Bulls           21.0  35.0     15    27.0  27.400000
Cleveland Cavaliers     24.0  35.0     15    30.0  29.533333
Dallas Mavericks        22.0  37.0     15    31.0  29.733333
Denver Nuggets          20.0  36.0     15    25.0  25.733333
Detroit Pistons         20.0  36.0     15    25.0  26.200000
Golden State Warriors   20.0  33.0     15    28.0  27.666667
Houston Rockets         22.0  38.0     15    27.0  26.866667
Indiana Pacers          20.0  30.0     15    27.0  26.400000
Los Angeles Clippers    23.0  39.0     15    29.0  29.466667
Los Angeles Lakers      20.0  37.0     15    27.0  27.533333
Memphis Grizzlies       21.0  39.0     18    28.0  28.388889
Miami Heat              20.0  36.0     15    30.0  28.933333
Milwaukee Bucks         19.0  32.0     16    24.5  24.562500
Minnesota Timberwolves  20.0  40.0     14    25.0  26.357143
New Orleans Pelicans    23.0  31.0     19    27.0  26.894737
New York Knicks         20.0  34.0     16    26.0  27.000000
Oklahoma City Thunder   21.0  38.0     15    26.0  27.066667
Orlando Magic           20.0  32.0     14    24.5  25.071429
Philadelphia 76ers      20.0  37.0     15    24.0  24.600000
Phoenix Suns            19.0  33.0     15    25.0  25.866667
Portland Trail Blazers  20.0  34.0     15    24.0  25.066667
Sacramento Kings        22.0  36.0     15    27.0  26.800000
San Antonio Spurs       22.0  40.0     15    33.0  31.600000
Toronto Raptors         20.0  36.0     15    25.0  26.133333
Utah Jazz               20.0  28.0     15    24.0  24.466667
Washington Wizards      20.0  34.0     15    29.0  27.866667

In [ ]:
grpbyteam_posn = df.groupby(['Team','Position'])
# pd.set_option('display.max_rows',300)
# grpbyteam_posn.first()
grpbyteam_posn.sort_values()

                                         Name  ...      Salary
Team               Position                    ...
Atlanta Hawks      C               Al Horford  ...  12000000.0
                   PF          Kris Humphries  ...   1000000.0
                   PG         Dennis Schroder  ...   1763400.0
                   SF           Kent Bazemore  ...   2000000.0
                   SG        Tim Hardaway Jr.  ...   1304520.0
...                                       ...  ...         ...
Washington Wizards C            Marcin Gortat  ...  11217391.0
                   PF             Drew Gooden  ...   3300000.0
                   PG          Ramon Sessions  ...   2170465.0
                   SF            Jared Dudley  ...   4375000.0
                   SG           Alan Anderson  ...   4000000.0

[149 rows x 7 columns]

In [ ]:
boston = grpbyteam.get_group('Boston Celtics')

In [ ]:
boston.sort_values(['Weight'],ascending=False)

               Name  Number Position  ...  Weight            College      Salary
10  Jared Sullinger     7.0        C  ...   260.0         Ohio State   2569260.0
14     Tyler Zeller    44.0        C  ...   253.0     North Carolina   2616975.0
5      Amir Johnson    90.0       PF  ...   240.0                NaN  12000000.0
7      Kelly Olynyk    41.0        C  ...   238.0            Gonzaga   2165160.0
1       Jae Crowder    99.0       SF  ...   235.0          Marquette   6796117.0
6     Jordan Mickey    55.0       PF  ...   235.0                LSU   1170960.0
4     Jonas Jerebko     8.0       PF  ...   231.0                NaN   5000000.0
9      Marcus Smart    36.0       PG  ...   220.0     Oklahoma State   3431040.0
12      Evan Turner    11.0       SG  ...   220.0         Ohio State   3425510.0
13      James Young    13.0       SG  ...   215.0           Kentucky   1749840.0
2      John Holland    30.0       SG  ...   205.0  Boston University         NaN
8      Terry Rozier    12.0       PG  ...   190.0         Louisville   1824360.0
3       R.J. Hunter    28.0       SG  ...   185.0      Georgia State   1148640.0
11    Isaiah Thomas     4.0       PG  ...   185.0         Washington   6912869.0
0     Avery Bradley     0.0       PG  ...   180.0              Texas   7730337.0

[15 rows x 8 columns]

In [ ]:
grpbyteam.get_group('Boston Celtics').Weight.max()

260.0

In [ ]:
boston

               Name  Number Position  ...  Weight            College      Salary
0     Avery Bradley     0.0       PG  ...   180.0              Texas   7730337.0
1       Jae Crowder    99.0       SF  ...   235.0          Marquette   6796117.0
2      John Holland    30.0       SG  ...   205.0  Boston University         NaN
3       R.J. Hunter    28.0       SG  ...   185.0      Georgia State   1148640.0
4     Jonas Jerebko     8.0       PF  ...   231.0                NaN   5000000.0
5      Amir Johnson    90.0       PF  ...   240.0                NaN  12000000.0
6     Jordan Mickey    55.0       PF  ...   235.0                LSU   1170960.0
7      Kelly Olynyk    41.0        C  ...   238.0            Gonzaga   2165160.0
8      Terry Rozier    12.0       PG  ...   190.0         Louisville   1824360.0
9      Marcus Smart    36.0       PG  ...   220.0     Oklahoma State   3431040.0
10  Jared Sullinger     7.0        C  ...   260.0         Ohio State   2569260.0
11    Isaiah Thomas     4.0       PG  ...   185.0         Washington   6912869.0
12      Evan Turner    11.0       SG  ...   220.0         Ohio State   3425510.0
13      James Young    13.0       SG  ...   215.0           Kentucky   1749840.0
14     Tyler Zeller    44.0        C  ...   253.0     North Carolina   2616975.0

[15 rows x 8 columns]

In [ ]:
boston.Weight.max()

260.0